 body{
    
    background-image: url(https://i.pinimg.com/564x/88/44/b0/8844b038c1ba61ff4956f419d417f7c9.jpg);
    background-repeat: no-repeat;
    background-size: cover;

   
 }

.head image{
    max-width:100% ;
    min-width: 100%;
    
}

img{
    height: 200px;
    width: 250px;
    border-radius: 100%;
    
}



.container{
    display: flexbox;
    text-align: left;
    text-align: wrap;
    margin: 25px;
}

.container .col1{
margin-right: 35px;
background-color: rgb(113, 199, 216);
box-shadow: 15px 15px 20px 22px black;
border-radius: 10px;
}

.container .col2{
    margin-right: 35px;
    background-color: rgb(158, 207, 207);
    box-shadow: 20px 20px 20px black;
border-radius: 10px;
}

.container .col3{
    margin-right: 35px;
    background-color: skyblue;
    box-shadow: 20px 20px 20px black;
     border-radius: 10px;
}

.tab{
    
    background-image: url(https://wallpaperaccess.com/full/4142231.jpg);
    color:white ;
    line-height: 15px;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;

}



nav{
float: right;
margin: 0 1010px ;
position:-webkit-sticky;

}

a{
    color: antiquewhite;
}

